*{
  font-family: 'Orienta', sans-serif;
}
.container{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.span-q{
  transform: rotate(
    56deg);
        display: inline-block;
}
.ant-radio-wrapper{
  margin-right: 54px !important;
}
.ant-layout-header{
  background: black !important;
  box-shadow: 1px 1px 12px -3px #8080806b;
}
.ant-menu-overflow{
  background: black !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected{
  color: white !important;
}
.site-layout-content{
  padding: 20px 0px;

}
/* #f0a500 */
.filters{

}
h2{
  color: #f0a500 !important;
}
.ant-btn-primary{
  border-color: #f0a500 !important;
  background: #f0a500 !important;
  color: black !important;
}
.ant-radio-checked::after{
  border: 1px solid #f0a500 !important;
}
.ant-radio-checked .ant-radio-inner{
  border-color: #f0a500 !important;
}
.ant-radio-inner::after{
  background-color:#f0a500 !important;
}